.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 30px 0 30px;
  font-size: 12px;
  background-color:var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

@media only screen and (max-width:688px) {
  .custom-button{
    min-width: 150px;
    padding: 0;
    height: 40px;
    line-height: 10px;
  }
}