.client-top-banner{
    height:400px;
    background-image: url(https://i.ibb.co/ZBvTp9b/Group-17.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
}
.client-top-banner-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.client-top-banner-content>div:nth-child(-n+3) {
    border-right: 1px solid var(--color-primary-darker);
}

.business-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: -80px;
    padding-left: 10px;
}

/* sucess story styles */
.success-story-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.success-cards,
.success-story-middle-box{
    margin-top: 50px;
}
.success-story-middle-box{
    border-left: 1px solid var(--color-border-light);
    padding-left: 30px;
    color: var(--color-grey);
}

.success-story-middle-box p{
    line-height: 1.5;
}
.success-story-middle-box ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    color: var(--color-grey);
    line-height: 1.8;
}
.success-story-middle-box ul li{
    display: flex;
    align-items: center;
}
.success-image img{
    max-width: 100%;
    height: 100%;
}
@media only screen and (max-width:780px) {
    .client-top-banner{
        height:520px;
    }
    .client-top-banner-content{
        grid-template-columns: repeat(2,1fr);
    }
    .business-card-container{
        grid-template-columns: 1fr;
        padding-right: 10px;
    }
    .client-top-banner-content>div:nth-child(-n+3) {
       border-right: none;
    }
}
@media only screen and (max-width:990px) {
    .success-story-container {
       grid-template-columns: 1fr;
    }

}
