.success-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background: var(--color-white);
}

.success-card{
   display: grid;
   grid-template-columns: 2fr 10fr;
   grid-gap: 16px;
}

.success-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--color-primary-lightest);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
}

.success-container{
    display: flex;
    flex-direction: column;
}

.success-container span:nth-of-type(1){
    color:var(--color-black);
    font-weight: 700;
}

.success-container span:nth-of-type(2){
    color:var(--color-grey);
    margin-top: 10px;
}

@media only screen and (max-width:840px) {
    .success-card{
       grid-template-columns: 1fr;
       justify-items: center;
    }
    .success-card-container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .success-container{
        text-align: center;
    }   
}