.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: var(--color-overlay);
}
.header-half{
    height: 100%;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    border-right: 2px solid var(--color-primary-darker);
}

.logo img{
    height: 30px;
    margin-top: 3px;
    margin-right: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 80px;
    border-bottom:2px solid var(--color-primary-darker);
}
.nav-item-container{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease;
}
.search{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    border-left: 2px solid var(--color-primary-darker);
    border-right: 2px solid var(--color-primary-darker);
}
.need-help{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.nav-item:hover,
.burger-menu-item a:hover{
    background-color: var(--color-primary);
}
.active{
    background-color: var(--color-primary);
}

.nav-icon{
   display: none;
   margin-right: 0;
   padding: 0;
}

.burger-menu-item{
    z-index: 9999;
    padding: 10px;
    position: absolute;
    top: 60px;
    right:10px;
    background-color: var(--color-secondary-opacity);
    display: flex;
    flex-direction: column;
    width: 170px;
    transform: translateY(-400px);
    transition: transform .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    border: 2px solid var(--color-primary-darker);
}

.burger-menu-item a{
    line-height: 30px;
    padding: 5px;
    transition: all 0.2s linear;
    text-decoration: none;
    color: #fff;
}

.burger-socials{
    margin-top: 10px;
}

.icon-close{
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
    margin-left: auto;
}
.burger-menu-visible{
    transform: translateY(-30px);
}
.hidden{
    display: none !important;
}

@media only screen and (max-width:992px) {
    .nav-item,
    .need-help{
        display: none;
    }

    .nav-icon{
        display: inline-block;
   }
   nav{
       padding-left: 10px;
   }
   .search{
       border-left: none;
       border-right: none;
   }
}