footer{
    background-color: var(--color-secondary);
    position: relative;
    color: var(--color-footer-text);
}
.footer-wave-shape{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 1;
}
.footer-section{
    display: grid;
    grid-template-columns: 4fr 3fr 5fr;
    grid-gap: 20px;
    padding:80px 10px
}
.footer-about{
    margin-top: 30px;
    position: relative;
}
.footer-about:before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -25px;
    background-color: var(--color-footer-devider);
}
.footer-contact{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer-icons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.footer-icons:hover{
    color: var(--color-primary);
}
.footer-icon-phone{
    color: var(--color-phone-icon);
}
.footer-icon-email{
    color: var(--color-email-icon);
}
.footer-icon-location{
    color: var(--color-location-icon);
}
.footer-title{
    color:var(--color-white);
    margin-top: 0;
    text-transform: uppercase;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links a{
    display: block;
    text-decoration: none;
    color: var(--color-footer-text);
    font-weight: 700;
    margin-bottom: 16px;
    transition: all 0.3s linear;
}
.footer-links a:hover{
    color: var(--color-primary);
}
.subscribe{
    background-color: var(--color-black);
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.subscribe-container{
    position: relative;
}
.subscribe input{
    width: 100%;
    padding: 18px 24px;
    box-sizing: border-box;
    position: relative;
    border: none;
}
.subscribe h3{
    text-align: center;
}
.register-button-container{
    display: flex;
    border: 10px solid var(--color-white);
}
.register-button{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border: 1px solid transparent;
    padding: 15px 24px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.register-button:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary)
}

.subscriber-for-mobile{
    padding-left: 10px;
    padding-right: 10px;
}
.subscriber-for-mobile h3{
  text-align: center;
}
.subscribe-show{
    display: block;
}
.subscribe-hidden{
    display: none;
}
.copywrite-footer{
    position: relative;
    margin-top: 40px;
    padding-bottom: 50px;
}
.copywrite-footer:before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -20px;
    background-color: var(--color-footer-devider);
}
.copywrite-footer>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.instagram-icon,
.linkedin-icon,
.twitter-icon,
.facebook-icon
{
    color:var(--color-white);
    font-size: 36px;
    margin-left: 18px;
    cursor: pointer;
    transition: all .3s ease-in-out
}
.instagram-icon:hover{
    color:var(--color-instagram);
}
.linkedin-icon:hover{
    color:var(--color-linkedin);
}
.twitter-icon:hover{
    color:var(--color-twitter);
}
.facebook-icon:hover{
    color:var(--color-facebook);
}
@media only screen and (max-width:480px) {
    .footer-section{
       grid-template-columns: 1fr;
       padding-bottom: 30px;
   }
    .register-button-container{
        flex-direction: column;
    }
}
@media only screen and (max-width:600px) {
    .copywrite-footer>div{
       display: flex;
       flex-direction: column;
   }
    .footer-links{
        justify-content: start;
    }
    .footer-links div:nth-of-type(1){
        margin-right: 20px;
    }
}
@media only screen and (min-width:481px) and (max-width:990px) {
    .footer-section{
       grid-template-columns: repeat(2,1fr);
       padding-bottom: 30px;
    }
    .subscribe{
        height: 240px;
    }
    .register-button-container{
        flex-direction: column;
    }
    .footer-links{
        justify-content: start;
    }
    .footer-links div:nth-of-type(1){
        margin-right: 20px;
    }
    

}