.business-card{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-grey);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    cursor: pointer;
    transition: all .28s cubic-bezier(.15,0,.15,1) 0s;
}

.business-card h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .28s cubic-bezier(.15,0,.15,1) 0s;
}

.business-card:hover{
    background-color: var(--color-white);
    transform: scale(1.01);
    box-shadow: 0 1px 50px 10px rgb(0 0 0 / 15%);
}

.business-card:hover.business-card h3{
   color: var(--color-primary);
}