.experience-card{
    background-color: var(--color-black);
    padding: 30px;
    z-index: 2;
}
.card-title{
    text-transform: uppercase;
    width: 80%;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 20px;
}

.card-body{
    display: flex;
    justify-content: space-between;
}
.link-button{
    display: flex;
    align-items: center;
    
}

.link-button a{
    text-decoration: none;
    color: var(--color-white);
    position: relative;
    text-transform: capitalize !important;
    transition: all 0.3s ease;
}
.link-button a:before{
    content: "";
    position: absolute;
    bottom: -5px;
    width:15px;
    height: 1px;
    background: #fff;
    transition: all 0.3s ease;
}
.link-button a:hover
{
    color: var(--color-primary);
}
.link-button a:hover:before
{
    background: var(--color-primary);
}