html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/************Some relevent color variable************/
:root {
  --color-primary: #3C72FC;
  --color-primary-light: #4d7cf22b;
  --color-primary-lightest: #EBF1FF;
  --color-secondary: #e9e9e931;
  --color-secondary: #0F0D1D;
  --color-primary-darker: #9e9fa280;
  --color-white: #fff;
  --color-black: #000;
  --color-overlay: #00000069;
  --color-overlay-dark: #0f0d1d6b;
  --color-secondary-opacity: #00000085;
  --color-grey: #726F84;
  --color-light-grey: #F2F4F8;
  --color-border-light: #E6E9EF;
  --color-phone-icon: #3C72FC;
  --color-email-icon: #2D95FD;
  --color-location-icon: #22B0FE;
  --color-footer-text: #8F8DA0;
  --color-footer-devider: #ffffff24;
  --color-facebook: #3c5a96;
  --color-twitter: #2aa3ef;
  --color-linkedin: #1178b3;
  --color-instagram: #8a3ab9;
}

/************Some global styles************/
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

.heading h4{
    font-size: 16px;
    margin-top: 10px;
}
.overlay{
  position: absolute;
  background-color: var(--color-overlay);
  height: 100%;
  width: 100%;
}
.overlay-dark{
  position: absolute;
  background-color: var(--color-overlay-dark);
  height: 100%;
  width: 100%;
}
.z-index-2{
  z-index: 2;
}
.mr-10{
  margin-right: 10px;
}
.pt-80{
  padding-top: 80px;
}
.pl-30{
    padding-left: 30px;
}
.mt-100{
  margin-top: 100px;
}
.text-grey{
  color: var(--color-grey);
}
.color-primary{
  color: var(--color-primary);
}

@media only screen and (max-width:480px) {
  .heading h1{
    font-size: 28px;
   }
  .heading h4{
    font-size: 14px;
  }
}