body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/************Some relevent color variable************/
:root {
  --color-primary: #3C72FC;
  --color-secondary: #e9e9e931;
  --color-secondary: #0F0D1D;
  --color-primary-darker: #9e9fa280;
  --color-white: #fff;
  --color-black: #000;
  --color-overlay: #00000069;
  --color-secondary-opacity: #00000085;
}

/************Some global styles************/
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.overlay{
  position: absolute;
  background-color: var(--color-overlay);
  height: 100%;
  width: 100%;
}
.z-index-2{
  z-index: 2;
}
