body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/************Some global styles************/
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.overlay{
  position: absolute;
  background-color: #00000069;
  height: 100%;
  width: 100%;
}
.z-index-2{
  z-index: 2;
}
